<h1>
    <a href="/">Poèmes</a>
</h1>

<nav>
    <ul>
        <li>
            <a href="/poems"> Poèmes </a>
        </li>

        <li>
            <a href="/authors"> Auteurs </a>
        </li>
    </ul>
</nav>